@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans|Roboto+Mono');

html,
body {
  padding:0;
  margin:0;
  height:100%;
  width:100%;
}

body {
    background: rgb(233, 232, 232);
}

.bg {
    background: linear-gradient(45deg, #00c9ff, #92fe9d);
    display: flex;
    align-items: center;
    width: 100%;
    height: 210px;
}

.top .bg h1 {
    transform: rotate(-10deg);
    color: #1f1f1f;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 70px;
    margin: 0;
}

.top .bg .square {
    background: linear-gradient(-225deg, #92fe9d, #00c9ff);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 170px;
    height: 170px;
    border: 10px solid rgb(243, 243, 243);
    border-radius: 3px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px #313131, inset 0px 0px 7px #313131;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    margin: 0;
    padding: 0;    
}

.menu ul #name {
    flex-grow: 1;
    background: rgb(243, 243, 243);
}

.menu li {
    font-family: 'Roboto Mono', monospace;
    list-style: none;
    text-align: center;
    flex-grow: 2;
    background: #232323;
    transition: 0.3s;
}

.menu li:nth-child(2n) {
    background: #313131;
    transition: 0.3s;
}

.menu li:hover {
    background: rgb(243, 243, 243);
    transition: 0.3s;
}

.menu li a {
    text-decoration: none;
    color: rgb(243, 243, 243);
}

.menu li a:hover {
    color: #232323;
    transition: 0.3s;
}

.menu h3 {
    margin: 5px;
}

.fixed-nav nav {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}

.bio {
    margin-top: 40px;
}

.bio img {
    height: 190px;
    width: 190px;
    border-radius: 100px;
    position: absolute;
}

.bio h2 {
    padding-left: 200px;
    padding-right: 8%;
    font-family: 'Montserrat', sans-serif;
}

.bio p {
    padding-left: 200px;
    padding-right: 8%;
    font-family: 'Open Sans', sans-serif;
}

.bio p a {
    text-decoration: none;
    color: #0088aa;
}

.passions {
    margin-top: 70px;
}

.passions h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.passions ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
}

.passions ul li {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 30px 0;
    width: 33.3%;
    transition: 0.2s;
}

.passions ul li:hover {
    color: #8D969C;
    transition: 0.2s;
}

.passions ul li i {
    margin-bottom: 12px;
}

.software {
    margin-top: 70px;
}

.software h3 {
    font-family: 'Montserrat', sans-serif;
    padding-left: 30px;
}

.software p {
    font-family: 'Open Sans', sans-serif;
    padding-left: 30px;
    color: #121212;
    transition: 0.2s;
}

.software p:hover {
    color: rgb(88, 88, 88);
    transition: 0.2s;
}

#projects h3 {
    font-family: 'Montserrat', sans-serif;
    padding-left: 30px;
    margin-top: 70px;
}

.examples {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.examples div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 420px;
    margin: 12px 0;
    border-radius: 10px;
}

.examples img {
    position: absolute;
    height: 200px;
    width: 420px;
    border-radius: 10px;
    transition: 0.3s;
}

.examples img:hover {    
    filter: grayscale(1);
    transition: 0.3s;
}

.examples a {
    background: rgba(2, 2, 2, 0.7);
    box-shadow: 0 0 7px 12px rgba(2, 2, 2, 0.7);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #ecd018;
    position: relative;
}

footer {
    width: 100%;
    height: 150px;
    background: #111111;
    font-family: 'Open Sans', sans-serif;
    color: #e9e8e8;
}

.contact h2 {
    font-size: 15px;
    padding-left: 20px;
    padding-top: 10px;
}

.contact div {
    display: flex;
    justify-content: space-evenly;
}

.contact div i {
    color: #e9e8e8;
    transition: 0.3s;
}

.contact div i:hover {
    color: #ecd018;
    transition: 0.2s;
}

.contact .email {
    margin-top: 20px;
    padding-left: 20px;
}

.contact .email i {
    margin-right: 10px;
}

@media screen and (max-width: 800px){
    .menu li a {
        font-size: 14px;
    }

    .bio img {
    height: 90px;
    width: 90px;
    border-radius: 45px;
    }

    .bio h2,
    .bio p {
        padding-left: 100px;
    }
  
  .examples img {
        height: 175px;
        width: 380;
    }
}
