@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans|Roboto+Mono');

html,
body {
  padding:0;
  margin:0;
  height:100%;
  width:100%;
}

body {
    background: #FF416C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 100px;
}

.main-wrapper {
    width: 80%;
    background-color: #EFF2FE;
    border-radius: 20px;
    padding: 40px 0;
    margin: 0 auto;
}

#navBar {
    top: 0;
    position: fixed;
    background-color: #242424;
    z-index: 10;
}

#navBar > ul {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}

#navBar > ul > li {
    text-align: center;
    width: 100%;
    transition: 0.3s;
}

#navBar > ul > li:hover {
    background-color: #EFF2FE;
    transition: 0.3s;
}

#navBar > ul > li > a {
    font-family: 'Roboto Mono';
    font-size: 20px;
    transition: 0.3s;
}

#navBar > ul > li > a:hover {
    color: #242424;
    transition: 0.3s;
}

#about > h2, #stack > h2 {
    text-align: center;
    color: #232323;
    font-family: 'Open Sans';
    margin-bottom: 40px;
}

#profile-picture {
    position: absolute;
    left: 45%;
    width: 200px;
    border-radius: 50%;
}

.bio {
    width: 50%;
    border-radius: 20px;
    border-top: 5px solid #FF4B2B;
    box-shadow: 0 10px 30px #c5c5c5;
    padding: 120px 40px 40px 40px;
    margin: 100px auto;
    transition: 0.3s;
}

.bio:hover {
    box-shadow: 0 10px 10px #aaaaaa;
    transition: 0.3s;
}

.bio > p {
    font-family: 'Roboto Mono';
    font-size: 1.1em;
    color: #232323;
    line-height: 1.7em;
    margin: 25px 0;
}

#stack > p {
    text-align: center;
    font-family: 'Roboto Mono';
    font-size: 1.1em;
    color: #232323;
}

.stack-grid {
    background-color: #c5c5c5;
    padding: 40px;
    width: 100%;
}